*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'맑은 고딕';
    background:#10151d;
    color:white;
}

.container{
    max-width:1400px;
    margin:30px auto;
    padding:0 30px;
}

input,select,button{
    padding:12px;
    border:none;
    border-radius:10px;
}

.input-box{
    margin-bottom:30px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#16202b;
}

td,th{
    border:1px solid #2d3748;
    text-align:center;
    height:70px;
}

td{
    font-size:13px;
    font-weight:bold;
}

th{ 
    background:#57c84d; 
}

.dashboard{
    display:flex;
    gap:40px;
}


.left-panel{
    width:280px;
}

.right-panel{
    flex:1;
}

.main-title{
    font-size:36px;
    margin-bottom:40px;
}

.today-card{
    background:#16202b;
    padding:25px;
    border-radius:15px;
    margin-bottom:35px;
}

button{
    background:#57c84d;
    cursor:pointer;
    font-weight:bold;
    transition:0.2s;
}

button:hover{
    transform:scale(1.05);
}

button:active{
    transform:scale(0.98);
}